section{
    background-color: #ccc;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 700px; /* Solo para el ejemplo */

    align-content: flex-start;
}

article{
    width: 200px;
}


.first{
    background-color: rgba(255, 0, 0, 0.5);
}

.second{
    background-color: rgba(0, 255, 0, 0.5);
}

.third{
    background-color: rgba(0, 0, 255, 0.5);
}